@mixin button($bg) {
	display: flex;
	align-items: end;
	justify-content: center;
	min-width: 200px;
	min-height: 200px;
	padding: 10px 20px;
	border: none;
	border-radius: 15px;
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	background-image: url($bg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.3s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}

.testSelector {
	.title {
		margin: 0 0 20px 0;
	}

	.list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 20px;
		list-style: none;

		& > .item {
			margin: 0;
			padding: 0;
			border: none;
		}
	}

	.button {
		&__warcraft {
			@include button('../../assets/warcraft_choice.jpg');
		}

		&__diablo {
			@include button('../../assets/diablo_choice.jpg');
		}
	}
}
