.progress {
	height: 10px;
	border-radius: 30px;
	background-color: rgb(232, 232, 232);
	margin-bottom: 25px;

	&__inner {
		height: 100%;
		border-radius: 30px;
		width: 80%;
		background: rgb(195, 10, 10);
		transition: all 0.3s ease-in-out;
		background: linear-gradient(
			90deg,
			rgb(195, 10, 10, 1) 0%,
			rgba(0, 98, 255, 1) 100%
		);
	}
}

h3 {
	margin: 0;
	margin-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding: 15px;
		border: 2px solid rgba(0, 0, 0, 0.1);
		border-radius: 15px;
		margin-bottom: 10px;
		cursor: pointer;
		transition: border-color 0.3s ease-in-out;

		&:hover {
			border-color: rgba(0, 0, 0, 0.3);
		}
	}
}
