.result {
	text-align: center;

	button {
		font-weight: bold;
		border-radius: 30px;
		border: 0;
		padding: 15px 30px;
		font-size: 20px;
		background-color: #0800ff;
		color: #fff;
		cursor: pointer;
	}

	p {
		margin: 0 0 20px 0;
	}

	img {
		margin-bottom: 20px;
		max-width: 500px;
		border-radius: 30px;
	}
}
